<h1>Convert <%=@benchmark_currency%> to <%=@compare_currency%></h1>
<p>1 <%=@benchmark_currency%> equals <%=@result%> <%=@compare_currency%>.</p>

<p>Go <a href="/<%=@benchmark_currency%>">back</a>.</p>

